<%= form_with model: [:admin, @badge] do |form| %>

  <%= render 'shared/form_errors', resource: @badge %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :unique %>
    <%= form.check_box :unique %>
  </p>

  <p>
    <%= form.label 'Rule' %>
    <%= form.select('rule', @rule_types, { include_blank: true }, class: "rule-type") %>
  </p>

  <p>
    <%= form.label 'Rule attribute' %>
    <%= form.number_field :rule_attribute %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<p> <%= link_to_root %></p>