<h1> Achievements on TestGuru </h1>
<%= link_to 'Look my achievements', my_badges_path %>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
  </tr>

  <%= render @badges %>
</table>
<%= link_to_root %>