<tr>
  <td>
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id} %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= pluralize(test.time, 'minute', plural: 'minutes') %></td>
  <td> <%= link_to 'edit',
                   edit_admin_test_path(test),
                   data: {test_id: test.id},
                   class: 'form-inline-link' %> </td>
  <td> <%= link_to 'delete',
                   admin_test_path(test),
                   method: :delete,
                   data: {confirm: 'Are you sure?'}%> </td>
  <td> <%= link_to 'test info', admin_test_path(test) %></td>
  <td> <%= button_to 'start', start_test_path(test) %></td>
</tr>