<h1> Tests on TestGuru </h1>

<h3> <%= link_to 'Create new test', new_admin_test_path %></h3>

<%= render 'shared/form_errors', resource: @test %>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Level</th>
    <th>Questions</th>
    <th>Passage Time</th>
  </tr>

  <%= render @tests %>
</table>