<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td> <%= link_to 'edit', edit_test_path(test) %> </td>
  <td> <%= link_to 'delete',
                   test_path(test),
                   method: :delete,
                   data: {confirm: 'Are you sure?'}%> </td>
  <td> <%= link_to 'to test', test_path(test) %></td>
</tr>